body {
  background-color: floralwhite;
}
header {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  color: rgb(198, 55, 55);
  background-color: rgb(74, 171, 169);
}
#images {
  text-align: center;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  margin-top: auto;
}

.card {
  max-width: 20;
  border: solid 1px;
  margin: 20px;
  padding: 10px;
  background-color: antiquewhite;
}

.card img {
  width: 100%;
}
.detail-image {
  height: 350px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 60%;
  background: floralwhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  width: 50%;
  height: 50vh;
}
.swiper-slide img {
  border: 2px solid rgb(18, 190, 87);

  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #222;
}
.swiper .swiper-pagination-bullet-active {
  background: #222;
}

.display-section {
  display: flexbox;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}
.feedback-section {
  display: flexbox;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  width: 200px;
  inline-size: 200px;
}

.flex-container {
  display: flex;
}

.flex-child-1 {
  flex: 1;
  border: 2px solid rgb(18, 190, 87);
  margin-left: 20px;
  margin-right: 20px;
  width: fit-content;
}

.flex-child-2 {
  border: 2px solid rgb(18, 190, 87);
  margin-left: 50px;
  margin-right: 20px;
  width: fit-content;
}
